<div class="container">
  <div class="row text-center">
    <div class="col-sg-6">
      <h1>Intro to Sequelize</h1>
      <h4>by: Achim Baggins</h4><br>
      <a href="/teachers"><button type="button" name="button" class="btn btn-info">Show Teachers</button></a>
      <a href="/subjects"><button type="button" name="button" class="btn btn-warning">Show Subjects</button></a>
      <a href="/students"><button type="button" name="button" class="btn btn-success">Show Students</button></a>
      <a href="/users"><button type="button" name="button" class="btn btn-primary">Show Users</button></a>
    </div>
  </div>
</div>
